<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data"> 
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <form action="/entriess" method="post">
    <div class="mb-3">
      <label for="Title_input" class="form-label">Title</label>
      <input type="text" name="title" id="title_input" class="form-control">
    </div>

  <form action="/entries" method="post">
    <div class="mb-3">
      <label for="body_input" class="form-label">Description</label>
      <input type="text" name="description" id="description_input" class="form-control">
    </div>

  <form action="/posts" method="post">
    <div class="mb-3">
      <label for="occured_on_input" class="form-label">Occured On</label>
      <input type="date" name="occured_on" id="occured_on_input" class="form-control">
    </div>

<div class="mb-3">
  <label for="uploaded_image_input" class="form-label">Upload Image</label>
  <input type="file" name="uploaded_image" id="uploaded_image_input" class="form-control" accept="image/png, image/jpg, image/jpeg, image/gif">
</div>


  <button class="btn btn-primary">Save</button>
    <a href="/posts">Cancel</a>

</form>
